<section id="users" class="users">
	<div class="row large-8 medium-12 small-12">
		<div class="column large-12 small-12">
			<button type="submit" ng-click="usersCtrl.logout()"> logout</button>
		</div>
		<div class="column large-12 medium-12">
			<table class="table ">
				<thead>
					<td> userCode</td>
					<!-- <td> name</td> -->
					<td> name </td>
					<!-- <td> birthday</td> -->
					<td> used</td>
				</thead>
				<tbody>
					<tr ng-repeat="CouponUser in CouponUsers">

						<!-- <span class="done-{{CouponUser.used}}">{{CouponUser}} </span> -->
						<td> {{ CouponUser.id }} </td>
						<!-- <td> {{ CouponUser.username }} </td> -->
						<td> {{ CouponUser.username }} </td>
						<!-- <td> {{ CouponUser.birthday | date : "MMM d, y h:mm a" }}</td> -->
						<td> <input ng-model="CouponUser.used" type="checkbox" ng-click="toggleTodo(CouponUser)" /> </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
