<section id="home">
	<div class="row  medium-5 small-10 large-4">
		<div class="column small-12 logo"></div>
		<div class="column medium-12">
			<h3>Vul je gegevens in om een gratis bol ijs te ontvangen</h3>
			<p>de actie is alleen geldig op 30 maart 2017</p>

		</div>

	</div>
	<div class="row medium-4 small-8 large-2">
		<form name="newCouponForm" ng-submit="newCouponForm.$valid && homeCtrl.sign(loginModel)" novalidate>
			<input type="text" class="name" ng-model="loginModel.username" placeholder="name" required>
			<input type="email" ng-model="loginModel.email" placeholder="email" required>
			<input type="date" ng-model="loginModel.birthday" required>
			<button type="submit" id="submit" name="submit" class="" ng-click="save()" required>send coupon to email</button>
		</form>

		<p>{{error}}</p>

		<div class="footer-social-icons ">
			<ul>
				<li>
					<a href="https://www.instagram.com/qookies.nl/?hl=nl" class="social-icon"> <i class="fa fa-instagram"></i></a>
				</li>
				<li>
					<a href="https://www.facebook.com/qookiesnl/?fref=ts" class="social-icon"> <i class="fa fa-facebook"></i></a>
				</li>
				<li>
					<a href="https://www.snapchat.com/add/qookies.nl" class="social-icon"> <i class="fa fa-snapchat"></i></a>
				</li>
			</ul>
		</div>
	</div>
</section>
